<div class="d-flex justify-content-center align-items-center gap-3">
     <!-- Si el parent es 'card', mostrar iconos -->
      @if(parent == 'card'){
            <a [routerLink]="['/usuario', _id]" class="btn btn-info btn-lg" title="Ver Detalles">
                 <i class="bi bi-search"></i>
            </a>
      
            <a [routerLink]="['/actualizar/usuario', _id]" class="btn btn-success btn-lg" title="Actualizar">
                <i class="bi bi-arrow-clockwise"></i>
            </a>
  
            <button class="btn btn-danger btn-lg" (click)="borrarUsuario(_id)" title="Eliminar">
                <i class="bi bi-trash"></i>
            </button>
    }
  
      <!-- Si el parent es 'view', mostrar botones con texto -->
      @else if (parent == 'view'){
        <button class="btn btn-danger" (click)="borrarUsuario(_id)">Eliminar</button>
      
        <a [routerLink]="['/actualizar/usuario', _id]" class="btn btn-success">Actualizar</a>
  
        <a [routerLink]="['/home']" class="btn btn-secondary"> Volver al listado</a>
    }
  </div>
  
