
<div class="container">
    <h2 class="mb-4 text-center">{{metodo}} Usuario</h2>
        <form class="card shadow p-4" [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label class="form-label" for="first_name">Nombre</label>
                <input type="text" class="form-control" formControlName="first_name" id="first_name" placeholder="Introduzca nombre de usuario">
                    @if(checkControl('first_name','required')){
                        <p class="error">Campo Obligatorio</p>
                        }
                    @if(checkControl('first_name','minlength')){
                        <p class="error">El nombre debe tener al menos 3 caracteres</p>
                        }
              </div>
  
              <div class="mb-3">
                <label class="form-label" for="last_name">Apellido </label>
                <input type="text" class="form-control" formControlName="last_name" id="last_name" placeholder="Introduzca apellido de usuario">
                    @if(checkControl('last_name','required')){
                        <p class="error">Campo Obligatorio</p>
                         }
                    @if(checkControl('last_name','minlength')){
                        <p class="error">El apellido debe tener al menos 3 caracteres</p>
                        }
              </div>
  
              <div class="mb-3">
                <label class="form-label" for="email">Email Usuario</label>
                <input type="text" class="form-control mb-3" formControlName="email" id="email" placeholder="Introduzca email del usuario">
                    @if(checkControl('email','required')){
                      <p class="error">Campo requerido</p>
                    }
                    @if(checkControl('email','pattern')){
                      <p class="error">Formato incorrecto de email</p>
                    }
              </div>

              <div class="mb-3">
                <label class="form-label" for="username">Nombre de  Usuario</label>
                <input type="text" class="form-control " formControlName="username" id="username" placeholder="Introduzca un nombre de usuario">
                    @if(checkControl('username','required')){
                      <p class="error">Campo requerido</p>
                    }
                    @if(checkControl('username','minlength')){
                      <p class="error">El nombre debe tener al menos 3 caracteres</p>
                    }
              </div>

              <div class="mb-3">
                <label class="form-label" for="password">Contraseña</label>
                <input type="password" class="form-control " formControlName="password" id="password" placeholder="Introduzca una contraseña">
                    @if(checkControl('password','required')){
                      <p class="error">Campo requerido</p>
                    }
                    @if(checkControl('password','minlength')){
                      <p class="error">La contraseña debe tener al menos 5 caracteres</p>
                    }
              </div>
  
              <div class="mb-3">
                <label class="form-label" for="image">Imagen Usuario</label>
                <input type="text" class="form-control " formControlName="image" id="image" placeholder="Introduzca el enlace de la foto">
                    @if(checkControl('image','required')){
                      <p class="error">Campo obligatorio</p>
                    }
                    @if(checkControl('image','pattern')){
                      <p class="error">Campo Obligatorio, solo permitidos archivos .jpg, .jpeg,.png o img</p>
                    }
              </div>
  
              <input type="submit"  class="btn btn-secondary" [disabled]="!usuarioForm.valid">
        </form>
</div>

